body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80vw;
    height: 80vh;
    margin: 0 10vw;
    /*al completar el total, se alinea al centro (100vw)*/
    border: 1px solid red;
    padding: 5px;
    border-radius: 15px;
}

.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.select {
    margin: 10px;
}

.label-genero {
    margin: 15px 0;
}

.margin-top {
    margin-top: 10px;
}

/*apseudoselectores*/

/*hover: pseudoclase que advierte cuando el mouse esta encima del elemento*/

button {
    background: none;
    border: none;
    padding: 12px 32px;
}
button:hover {
    cursor: pointer;
    background-color: green;
    color: white;
    border-radius: 15px;

}

h3:hover {
    color: purple;
}

input:invalid {
    border: 1px solid red;
}

/*cuando le demos clic al botton cmabia a color aqua*/
button:active {
    background-color: aqua;
}

/*Pseudoelemento*/

button::before {
    content: '>';
}